<form method="post" action="{{ path('app_activities_delete', {'id': activity.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette activité ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="btn btn-sm btn-outline-danger rounded-circle" data-bs-toggle="tooltip" title="Supprimer">
        <i class="fas fa-trash"></i>
    </button>
</form>
